@font-face {
    font-family: 'Sofia';
    src: url('./SofiaSans-Regular.ttf');
  }
*{
    font-family: 'Sofia', sans-serif;
    font-weight: 400; 
    font-style: normal;

}
html,body{
    width: 100%;
    
    overflow-x: hidden;
}
body{
   background-image:linear-gradient(rgb(27, 21, 17),rgb(123, 99, 80));
    color: rgb(223, 224, 226);
}
