#contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
}
.address{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
#mail{
    width: 5vw;
}
#linked{
    width: 7vw;
}
@media screen and (max-width: 600px) {
 #contacts{
    flex-direction: column;
 }
}